@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
    color: white;
    font-family: "Roboto", sans-serif;
    /* background-color: white;
    color: black; */
}

.gradient-text {
    font-size: 1rem;
    font-weight: bold;
    background: linear-gradient(to right, #feccec, #8a114b);
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.gradient-text-t {
    background: linear-gradient(to top, #e61c86, #8a114b);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.shadow-text{
    text-shadow: -4px 4px 1px rgba(255, 255, 255, 0.956);
}

.gradient-text-t-banner {
    background: linear-gradient(to top, #e61c86, #8a114b);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.blur-filter { 
    backdrop-filter: blur(14px); 
    background-color: rgba(255, 255, 255, 0.05); 
} 

.gradient-border {
    position: relative;
    padding: 2px; /* Space for the gradient border */
    border-radius: 10px; /* Border radius for the gradient */
    background: linear-gradient(to right, darkblue, #8a114b); /* Gradient background */
  }
  .gradient-border > .content {
    border-radius: 8px; /* Slightly smaller radius to fit inside the border */
    background-color: rgba(0, 0, 0, 0.841); /* Content background */
  }

  
.btn-whatsapp-pulse-border {
    animation-play-state: paused;
  }
  
  .btn-whatsapp-pulse-border::before {
    content: "";
    pointer-events: none;
    position: absolute;
    border-radius: 50%;
    padding: 20px;
    border: 5px solid #8a114b;
    opacity: 0.75;
    animation-name: pulse-border;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
  }
  
  @keyframes pulse-border {
    0% {
      padding: 25px;
      opacity: 0.75;
    }
    75% {
      padding: 40px;
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  