@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
    color: white;
}

.gradient-text {
    font-size: 1rem;
    font-weight: bold;
    background: linear-gradient(to right, #feccec, #8a114b);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }